.experience-show {
    height: var(--show-height);
    transition: 1s;
}

.experience-hide {
    height: 540px;
    transition: 1s;
}


@keyframes ShowLink {
    from {
        width: 0px;
        margin-right: 0px;
    }

    to {
        width: 120px;
        margin-right: 3px;
    }
}

@keyframes HideLink {
    from {
        width : 120px;
        margin-right: 0px;
    }
    
    to {
        width: 0px;
        margin-right: 3px;
    }
}

.show-link {
    animation:ShowLink 500ms both ;
    overflow: hidden;
}

.hide-link{
    animation: HideLink 500ms both;
    overflow: hidden;
}



@keyframes StoryClose {
    from {
        height: var(--open-height);
    }
    to {
        height: var(--close-height);
    }
}

@keyframes StoryOpen {
    to {
        height: var(--open-height);
    }
    from {
        height: var(--close-height);
    }
}

.story-close {
    animation: 400ms both StoryClose;
}

.story-open {
    animation: 400ms both StoryOpen;
}