.experience-show {
    height: var(--show-height);
    transition: 1s;
}

.experience-hide {
    height: 540px;
    transition: 1s;
}

@keyframes AboutMeOpen {
    from {
        height: 550px;
    }

    to {
        height: 800px;
    }
}

.aboutme-open {
    animation: AboutMeOpen 700ms both;
}

@keyframes AboutMeClose {
    from {
        height: 800px;
    }

    to {
        height: 550px;
    }
}

@media only screen and (max-width :768px) {

    @keyframes AboutMeOpen {
        from {
            height: 400px;
        }

        to {
            height: 800px;
        }
    }

    @keyframes AboutMeClose {
        from {
            height: 800px;
        }

        to {
            height: 400px;
        }
    }
}

.aboutme-close {
    animation: AboutMeClose 700ms both;
}