@import "tailwindcss";


* {
  font-family: var(--font-yekan-bakh);
  scroll-behavior: smooth;
}

.font-sheed {
  font-family: var(--font-sheed) !important;
}

.rtl {
  direction: rtl;
}

li::marker {
  background-color: red;
}

@media only screen and (max-width : 768px) {
  .brand-box {
    box-shadow: 0px 0px 30px 10px rgba(106, 0, 255, 0.295)
  }
}

.no-scrollbar {
  overflow: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
}

/* default (inactive) bullet */
.swiper-pagination-bullet {
  @apply w-1.5 mx-auto cursor-pointer h-1.5 bg-gray-400 rounded-full opacity-70 transition-all;
}

/* active bullet */
.swiper-pagination-bullet-active {
  @apply w-2 mx-auto cursor-pointer h-4 bg-white opacity-100;
}

/* scrollbar track */
::-webkit-scrollbar {
  width: 6px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
  border-radius: 6px;
}

/* thumb with a minimum height */
::-webkit-scrollbar-thumb {
  background-color: #4B5BCE;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5acec0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}